@model List<ClassLibrary_Recruitment.proc_display_pending_requests_Result>
@{
    ViewBag.Title = "HireManager";
}

<h2>HireManager</h2>

<form>
    <div>
        <br />
        <br />
        <table class="table table-striped">
            <tr>
                <th>Request Id</th>
                <th>Business Unit ID</th>
                <th>Required java Developers</th>
                <th>Required .Net Developers</th>
                <th>Required Business Analyst</th>
            </tr>

             @foreach (var item in Model)
             {
                 <tr>
                        <td>@item.RequestId</td>
                        <td>@item.BId</td>
                        <td>@item.JavaDevReq</td>
                        <td>@item.DotNetDevReq</td>
                        <td>@item.BAReq</td>
                        <td>@Html.ActionLink("Allot", "Allotment", null, new { @class = "btn btn-primary btn-large", p_bid = item.BId, p_rid=item.RequestId })</td>
                 </tr>
             }
        </table>
    </div>
</form>
