@model List<ClassLibrary_Recruitment.proc_display_requrests_Result>
@{
    ViewBag.Title = "DisplayRequests";
}

<h2>Requests</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Sign Out","Login","Login")</li>
    </ul>
</div>
<table class="table table-striped">
    <tr>
        <th>Request ID</th>
        <th>Business ID</th>
        <th>Requested Java Developers</th>
        <th>Requested .Net Developers</th>
        <th>Requested Business Analysts</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RequestId</td>
            <td>@item.BId</td>
            <td>@item.JavaDevReq</td>
            <td>@item.DotNetDevReq</td>
            <td>@item.BAReq</td>
        </tr>
    }

</table>

@Html.ActionLink("Go Back", "ReqInput", null, new { @class = "btn btn-primary btn-large"})